@page
@model Test.Pages.Forum
@{
    ViewData["Title"] = "Forum";
}

<div class="container">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    @if (@Model.IsCanShowContent)
                    {
                        <div class="card card-bordered">
                            <div id="messege" class="ps-container ps-theme-default ps-active-y rounded border" id="chat-content" style="overflow-y: scroll !important; height:700px !important; background-color: #f6da73 !important;">

                                @for (int i = 0; i < @Model.AllForumItems.Length; i++)
                                {
                                    if (@Model.OthersForumItem.Contains(@Model.AllForumItems[i]))
                                    {
                                        <div class="media media-chat">
                                            <img class="avatar" src="@Model.Clients[i].Img" alt="...">
                                            <div class="media-body">
                                                <p class="messegebox">@Model.AllForumItems[i].Message</p>
                                                <p class="messegebox meta">
                                                    <time datetime="2018">@Model.AllForumItems[i].SendDate</time>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="media media-chat media-chat-reverse">
                                            <div class="media-body">
                                                <p class="messegebox">@Model.AllForumItems[i].Message</p>
                                                <p class="messegebox meta">
                                                    <time datetime="2018">@Model.AllForumItems[i].SendDate </time>
                                                </p>
                                            </div>
                                        </div>
                                    }
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                                    </div>
                                }

                            </div>
                            <div class="publisher bt-1 border-light rounded border" style="background-color: #3e5336 !important;">
                                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                     alt="...">

                                <input id="inputmessege"
                                       style="width: 600px;" type="text" placeholder="Write something">
                                <button type="submit" onclick="addMessege()" class="btn btn-danger">
                                    Отправить
                                </button>
                            </div>
                            <div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <
    </div>
</div>